{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="container" style="background-color:transparent;">

  <!-- Left Sidebar  -->
  <div>


  </div>
  <!-- Middle Content  -->
  <!-- Story Section  -->

  <div class="main-content" style="height: 100vh;width:100vw;overflow-y: scroll;">



   
    <p class="fw-bold">Most reacted Posts</p>
    <div id="stories-wrapper" style="display:flex;align-items: center;justify-content: flex-start;">
      {% for i in story %}

      <div class="storycard" style="overflow:hidden;display:grid;place-items:center;margin:auto;height:130px;border-radius:8px;background:#897492;color:black;
       box-shadow: -4px -4px 10px rgba(67, 67, 67, 0.5),
        inset 4px 4px 10px rgba(0, 0, 0, 0.5),
        inset -4px -4px 10px rgba(67, 67, 67, 0.3),
        4px 4px 10px rgba(0, 0, 0, 0.3);border: 1px solid rgb(36, 33, 33);">
        <a href="{% url 'home:profile' i.user %}"
          style="text-decoration: none;font-size: 0.7rem; display:inline-flex;justify-content: space-between;align-items: center;color:black;">

          <img src="{{i.post_profile.profile_pic.url}}"
            style="height: 25px;width:25px;border:3px solid purple;border-radius: 50%;" />
          <span style="color:yellow;"> {{i.user}}</span>

        </a>
        <a href="{% url 'home:comment' i.id %}"
          style="text-decoration:none;text-align:center;color:black ;display:flex;align-items: space-between;justify-content: space-between;flex-direction: column;height: 70%;">
          <div class="story-post mb-2 fw-bold" style="font-size: 0.9rem;color:white;"> {{i.post}}</div>
          <span style='font-size:0.9rem;color:black;'>
            <i class="fa-solid fa-hands-clapping " style='color:rgb(255, 209, 2);'></i> {{i.likes}}likes
          </span>
        </a>
      </div>

      {% endfor %}

    </div>

    <!-- Uploaded Posts Section  -->
    <!-- Post 1  -->
    {% for i in posts reversed %}
    <div class="post-container" id="{{i.id}}" style=" background:#393846;
   
   box-shadow: 0 15px 100px #1e1d25;">
      <div class="post-row">


        <div class="user-profile">
          <a href="{% url 'home:profile' i.user.username %}">

            <img src="{{i.post_profile.profile_pic.url}}"
              style="height: 50px;width:50px;border:3px solid rgb(105, 255, 163);background-color: white;" />
          </a>

          <div>
            <p class="fw-bold" style="color:rgb(227, 252, 1)">{{i.user.username}}</p>
            <span style="font-size: 14px;color:#8c8aa7;">{{i.upload_date}}</span>
          </div>
        </div>
        <a class="trash" href="{% url 'home:dltepost' i.id %}">
          {% if i.user.username == userprofile.username %}
          <i class="fa fa-trash" onclick="dletepost('{{i.id}}')"></i>
          {% endif %}
        </a>

      </div>
      <p class="post-text fw-normal" style="font-weight: bold;letter-spacing:1px;color: rgb(224, 224, 224);">
        {{i.caption}}
      </p>
      <hr style="color: rgb(230, 230, 230);">
      <div class="post-row" style="place-items: center;">

        <div class="post-img p-1 fw-bolder"
          style="width:70% ;margin-left: 8%;min-height:80px;font-size:18px;color:rgb(255, 255, 255);letter-spacing: 1px;">
          {{i.post}}</div>

      </div>
      <div class="post-row" style="display: flex;align-items: center;justify-content: flex-start;">
        <div class="activity-icons "
          style="display: flex;align-items: center;justify-content:space-between;color: #45ffbc;">


          {% if user in i.likes.all %}
          <button style="background-color:transparent;border: 0;outline: 0;" class="likebtn mx-2" type="submit">
            {% csrf_token %}

            <i class="fa-solid fa-hands-clapping " style='font-size:28px;color:rgb(255, 208, 0);'
              onclick='likepost(this)' id="{{i.id}}"></i>

          </button>

          {% else %}

          <button style="background-color:transparent ;border: 0;outline: 0;" class="likebtn mx-2" type="submit">
            {% csrf_token %}

            <i class="fa-solid fa-hands-clapping " style='font-size:28px;color:rgb(211, 211, 211);'
              onclick='likepost(this)' id="{{i.id}}"></i>
          </button>

          {% endif %}

          {% comment %}
          </a> {% endcomment %}

          <span class="fw-bold" id="likecount{{i.id}}" style="color: #45ffbc">{{i.likes.count}}</span>
          <a href="{% url 'home:comment' id=i.id %}" style="text-decoration:none ;margin-left: 20px;">
            <div class="comment fw-bold" style="color:  #45ffbc;">
              <img
                src="https://media.istockphoto.com/id/1310060658/vector/thinking-emoticon-question-face-emoji-with-eyeglasses-vector-illustration.jpg?s=612x612&w=0&k=20&c=pNujEuBbCFfBGUPFNznD6gMVAJ_uGeFYMmjpPuby9Eg="
                style="border-radius: 50%;height: 45px;width: 45px;">

              Discuss

            </div>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
    You're all caught up...


    <!-- Right Sidebar  -->
    <div></div>
  </div>
  <script>

    function likepost(e) {
      const likeform = new FormData()
      let data = likeform.append('id', e.id);
      // (e.style.color === "grey") ? (e.style.color = "brown") : (e.style.color = 'grey');

      fetch(`/like/${e.id}/`, {
        method: 'POST',
        headers: {
          'Accept': 'application/json, text/plain, */*',
          'Content-Type': 'application/json',
          "X-CSRFToken": '{{csrf_token}}'
        },
        body: JSON.stringify(data)
      })
        .then((res) => res.json())
        .then((data) => {
          console.log(data);
          let likecount = document.getElementById(`likecount${e.id}`);
          if (e.style.color === "rgb(211, 211, 211)") {
            likecount.innerHTML = (likecount.innerHTML * 1) + 1;
            e.style.color = "rgb(255, 208, 0)";
          }
          else {
            likecount.innerHTML = (likecount.innerHTML * 1) - 1;
            e.style.color = "rgb(211, 211, 211)";
          }
        }
        )
        .catch((err) => console.log(err));
    }
  </script>

  {% endblock %}